@()
<ol class="breadcrumb">
    <li class="active">Categorías</li>
</ol>
<button class="btn btn-success" ng-click="toggleCreate()">+ Nueva Categoría</button>
<br>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Categorías
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <th>Categoría</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </thead>
            <tbody>
                <tr ng-repeat="category in categories">
                    <td>{{category.name}}</td>
                    <td><button class="btn btn-primary" ng-click="toggleUpdate(category, $index)"><i class="fa fa-pencil"></i> Editar</button> </td>
                    <td><button class="btn btn-danger" ng-click="delete(category, $index)"><i class="fa fa-trash-o"></i> Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <input type="text" name="id" class="hidden" placeholder="">
                    <div class="form-group">
                        <label class="control-label" for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" ng-model="nameInput" aria-describedby="inputError2Status">
                        <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
                        <span id="inputError2Status" class="sr-only">This is the error</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="confirmModal()">
                    Aceptar
                    <img class="loading hidden" src="@routes.Assets.at("images/spinner-inverse.png")" height="20px">
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->

