@(css: Html = Html(""), js: Html = Html(""))(content: Html)
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>RINO</title>
        <link rel="icon" type="image/png" href="http://torneorino.com.ar/assets/images/rino.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin-style.css")">
            @css
    </head>
    <body>
        <style>
        </style>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Rino Admin</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Profile</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#">Categorías</a></li>
                    <li><a href="#">Torneos</a></li>
                    <li><a href="#">Equipos</a></li>
                    <li><a href="#">Jugadores</a></li>
                    <li><a href="#">Copas</a></li>
                </ul>
                @*<ul class="nav nav-sidebar">*@
                @*<li><a href="">Noticias</a></li>*@
                @*<li><a href="">Equipo de la fecha</a></li>*@
                @*<li><a href="">Fotos de portada</a></li>*@
                @*</ul>*@
                @*<ul class="nav nav-sidebar">*@
                @*<li><a href="">Estadísticas de la página</a></li>*@
                @*</ul>*@
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
        </div>
        @content
            <!-- scripts -->
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        @js
    </body>
</html>