@()
@import views.html.admin.nav
@nav() {
    <a href="#" class="btn btn-success">+ Nuevo Equipo</a>
    <br>
    <br>
    <input type="text" placeholder="Buscar equipo" class="form-control">
    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Equipos
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th>Equipo</th>
                    <th>Capitán</th>
                    <th>Torneo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-primary"><i class="fa fa-pencil"></i> Editar</button> </td>
                        <td><a class="btn btn-danger" href="#"><i class="fa fa-trash-o"></i>
                            Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
