@()
<button class="btn btn-success" ng-click="toggleCreate()">+ Nuevo Torneo</button>
<br>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Torneos Activos
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <th>Temporada</th>
                <th>Categoría</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Finalizar Torneo</th>
                <th>Eliminar</th>
            </thead>
            <tbody>
                <tr ng-repeat="tournament in activeTournaments">
                    <td>{{tournament.name}}</td>
                    <td>{{tournament.category.name}}</td>
                    <td><button class="btn btn-primary"><i class="fa fa-eye"></i> Ver</button> </td>
                    <td><button class="btn btn-primary" ng-click="toggleUpdate(category, $index)"><i class="fa fa-pencil"></i> Editar</button> </td>
                    <td><button class="btn btn-warning" ng-click="finishTournament(tournament, $index)"><i class="fa fa-flag-checkered"></i> Finalizar</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(tournament, $index, true)"><i class="fa fa-trash"></i> Eliminar</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Torneos Finalizados
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <th>Temporada</th>
                <th>Categoría</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Volver a activar</th>
                <th>Eliminar</th>
            </thead>
            <tbody>
                <tr ng-repeat="tournament in finishedTournaments">
                    <td>{{tournament.name}}</td>
                    <td>{{tournament.category.name}}</td>
                    <td><button class="btn btn-primary"><i class="fa fa-eye"></i> Ver</button> </td>
                    <td><button class="btn btn-primary" ng-click="toggleUpdate(category, $index)"><i class="fa fa-pencil"></i>
                        Editar</button> </td>
                    <td><button class="btn btn-warning" ng-click="reactivateTournament(tournament, $index)"><i class="fa fa-flag-checkered"></i> Re-activar</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(tournament, $index, false)"><i class="fa fa-trash"></i> Eliminar</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form>
                    <label for="name">Temporada </label>
                    <input type="text" name="name" class="form-control" placeholder="Nombre" ng-model="nameInput">
                    <label for="categoryInput">Categoría</label>
                    <select name="category" id="categoryInput" class="form-control">
                        <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="confirmModal()">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->

