@()
<ol class="breadcrumb">
    <li><a href="#teams">Equipos</a></li>
    <li>{{team.name}}</li>
    <li class="active">Jugadores</li>
</ol>
<h1 class="margin-bottom-20">{{team.name}} - Jugadores</h1>
<a class="btn btn-success" href="">+ Crear nuevo jugador</a>
<button class="btn btn-success" ng-click="toggleModal()">+ Agregar jugador existente</button>
<br>
<br>
<table class="table table-striped">
    <thead>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Eliminar del equipo</th>
    </thead>
    <tbody>
        <tr ng-repeat="player in team.players">
            <td>{{player.dni}}</td>
            <td>{{player.firstName}}</td>
            <td>{{player.lastName}}</td>
            <td>{{player.email}}</td>
            <td>{{player.phone}}</td>
            <td><button class="btn btn-danger" ng-click="removePlayer(player.id, $index)"><i class="fa fa-trash-o"></i>
                Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar al equipo</h4>
            </div>
            <div class="modal-body">
                <div class="suggest" ng-init="showOptions = false">
                    <input type="text" class="form-control" placeholder="Nombre o Apellido" ng-model="searchString"
                    ng-change="refreshOptions(); showOptions = true">
                    <ul class="options" ng-show="showOptions">
                        <li ng-repeat="player in options" ng-click="addPlayer(player)">
                            {{player.firstName + ' ' + player.lastName}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="addPlayer()">Aceptar</button>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->